

body{
    font-family: "fredoka one",cursive;
    background-image: url("./imagenes/fondo-entorno-bosque-.jpg");
    background-size: cover;
    
}
.titulo{
    color: lightcoral;
    min-width: 40%;
    background-color: #9a031e;
    height: 70px;
    text-align: center;
    margin: 40px 450px;
    border: 4px solid;
    border-radius: 20px;

}
#elige{
    background-color:#c9184a ;
    border:#ff4d6d solid;
    padding: 10px;
    border-radius: 9px;
}
input{
    display: none;
}
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9ffac;
    min-width: 600px;
    height: 400px;
   margin: 50px 300px;
    border: #eedc3b solid;
    border-radius: 20px;
}

#gagumons{
    margin: 3px;
    padding: 5px;
    min-width: 104px;
    box-sizing: border-box;
    background-color: #ffbe0b;
    border: #fb5607 solid;
    border-radius: 8px;
    text-align: center;
}

#staryuls{
    margin: 3px;
    padding: 5px;
    min-width: 104px;
    box-sizing: border-box;
    background-color: #0077b6;
    border: #023e8a solid;
    border-radius: 8px;
    text-align: center;
}

#volvasurls{
    margin: 3px;
    padding: 5px;
    min-width: 104px;
    box-sizing: border-box;
    background-color: #6a994e;
    border: #772f1a solid;
    border-radius: 8px;
    text-align: center;
}

#boton-mascota{
    margin: 5px;
    padding: 5px;
    min-width: 200px;
    box-sizing: border-box;
    background-color: #5c6b73;
    border: #9db4c0 solid;
    border-radius: 20px;
}
#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9ffac;
    min-width: 600px;
   margin: 50px 300px;
    border: #eedc3b solid;
    border-radius: 20px;
}
.mascota-jugador{
    background: #e07a5f;
    padding: 10px;
    box-sizing: border-box;
    border: 3px #cdb4db solid;
    margin: 10px;
    text-align: center;
    border-radius: 12px;
}

.mascota-enemigo{
    background: #98c9a3;
    padding: 10px;
    box-sizing: border-box;
    border: 3px #cdb4db solid;
    margin: 10px;
    text-align: center;
    border-radius: 12px;
}
#boton-fuego{
    margin: 3px;
    padding: 5px;
    min-width: 104px;
    box-sizing: border-box;
    background-color: #ffbe0b;
    border: #fb5607 solid;
    border-radius: 8px;
}
#boton-agua{
    margin: 3px;
    padding: 5px;
    min-width: 104px;
    box-sizing: border-box;
    background-color: #0077b6;
    border: #023e8a solid;
    border-radius: 8px;
}

#boton-tierra{
    margin: 3px;
    padding: 5px;
    min-width: 104px;
    box-sizing: border-box;
    background-color: #6a994e;
    border: #772f1a solid;
    border-radius: 8px;
}

#boton-reiniciar{
    margin: 20px;
    padding: 5px;
    min-width: 200px;
    box-sizing: border-box;
    background-color: #5c6b73;
    border: #9db4c0 solid;
    border-radius: 20px;
}

#mensajes{
    background-color: #8ac926;
    border-radius: 20px;
}